<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI控件学习之UIButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54EB151D1C7C5C04008ED440</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54EB15311C7C5C04008ED440</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54EB153C1C7C5C04008ED440</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
