<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI控件学习之UIScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECB77ED81C9998B000EEB353</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECB77EEC1C9998B000EEB353</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECB77EF71C9998B000EEB353</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
