<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI控件学习之UILable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54FB9E491C7B0E890030B84B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54FB9E5D1C7B0E890030B84B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54FB9E681C7B0E890030B84B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
